<div>
  <img src="images/hand_drawn.png" id="hand-drawn-logo">
  <h1>Welcome, <%= User.find(session[:user_id]).username.capitalize %>!</h1>
  <hr>
    <ol>
      <% @ideas.each do |idea| %>
      <li><a href="/ideas/<%=idea.id%>" id="idea"><%= idea.name %></a></li>
      <% end %>
    </ol>
  <hr>
</div>

  <h2>Menu:</h2>
    <a href="/ideas/new"><button type="submit" value="new_idea" class="submit">Make a New Idea!</button></a><br>
    <a href="/logout"><button type="submit" value="log_out" class="submit">Log Out</button></a>


