<div>
  <h2>Welcome, <%= User.find(session[:user_id]).username.capitalize %></h2>

    <ul>
      <% @ideas.each do |idea| %>
      <li><a href="/ideas/<%=idea.id%>"><%= idea.name %></a></li>
      <% end %>
    </ul>

<h3>Menu</h3>

<div>
  <a href="/ideas/new"><button type="submit" value="new_idea">Make a New Idea!</button></a><br>
  <a href="/logout"><button type="submit" value="log_out">Log Out</button></a>
</div>

</div>

