<!DOCTYPE html>
<html>
  <head>
    <title>Idea Collector!</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body> 
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>